@{
  Layout = "_Layout";
}

@using Factory.Models;
@* @model UniversityRegistrar.Models.Student; *@

<h2>@Model.EngineerName</h2>
<ul>
  <li>Machine Certifications:<ul>
    @if (Model.Certifications.Count != 0)
    {
      @foreach (Certification item in Model.Certifications)
      {
        <li>@item.Machine.MachineName</li>
      }
    }
  </ul></li>

</ul> 

@Html.ActionLink("Add Certifications for this Engineer", "AddCertifications", "Engineers", new { id = @Model.EngineerId})
